<template>
  <div class="{{ properCase name }}-box">
      <h1>Welcome {{ properCase name }} !</h1>
  </div>
</template>

<script>
export default {
  name: 'Vue_{{ properCase name }}',
  components: {
  },
  data:()=>{
    return {
    }
  },
  created: function () {
      
  }
}
</script>

<style lang="scss">
  .{{ properCase name }}-box{
         
  }
</style>






